certifi==2023.7.22
charset-normalizer==3.3.2
cloudscraper==1.2.71
greenlet==3.0.0
idna==3.4
playwright==1.39.0
pyee==11.0.1
pyparsing==3.1.1
requests==2.31.0
requests-toolbelt==1.0.0
typing_extensions==4.8.0
undetected-playwright==0.2.0
urllib3==2.0.7
